* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {

    height: 100%;
    width: 100%;
    position: fixed; /* Запрещает прокрутку страницы */
    background-color: #468050;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

.side {
    padding: 20px;
}

.avatar-container {
    border: 2px solid black;
    padding: 0;

    width: 5em;
    height: 5em;
    min-width: 80px;
}


.avatar-picture {
    width: 100%;
    height: 100%;
}

.player-info {
    width: 25%;
    display: flex;
    align-items: center;
    gap: 20px;
}


.my-side-player {
    display: flex;
    align-items: end;
    justify-content: left;
}

.my-side {
    display: grid;
    grid-template-rows: 1fr 1fr
}

.player-action {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    display: flex;
    column-gap: 10px;
}

.my-player-turn {
    display: flex;
    justify-content: center;
}

.opponent-selected-action-container {
    display: flex;
    justify-content: center;

}

.player-selected-action, .opponent-selected-action  {
    background-color: white;
    border: 2px solid black;
    width: 200px;
    height: 200px;
}

.action {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.action[name="rock"] {
    background-image: url("/rock.jpg");
}

.action[name="paper"] {
    background-image: url("/paper.png");
}

.action[name="scissors"] {
    background-image: url("/scissors.png");
}

@media (max-width: 670px) {
    .side {
        padding: 10px;
    }

    .player-selected-action, .opponent-selected-action  {
        width: 150px;
        height: 150px;
    }

    .action {
        width: 50px;
        height: 50px;
    }

    .avatar-container {
        /*width: 50px;*/
        /*height: 50px;*/
        /*min-width: 50px;*/
        width: 3em;
        height: 3em;
        min-width: 3em;
    }

    .player-action {
        bottom: 10%;
        transform: translateX(-50%);
        display: flex;
        column-gap: 10px;
    }

}